vendor
.vendor-new
debug
.env
dist
coverage*.out
.idea/*
mobile-security-service
!cmd/mobile-security-service
.vscode/*

## ui/.gitignore

# dependencies
ui/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage
api/original.yaml

# production
ui/build

# misc
ui/.DS_Store
ui/.env
ui/*.log*
ui/yarn.lock
ui/.vscode/*
ui/.idea