p {
  text-align: center;
  padding: 3em;
}

thead{
    font-size: large;
    background-color: #ededed;
}

.apps-table, .versions-table {
    overflow-x: auto;
}

.apps-table tr{
    cursor: pointer;
}