p {
  text-align: center;
  padding: 3em;
}

thead{
    font-size: large;
    background-color: #ededed;
}

.table-scroll-x {
    overflow-x: auto;
}


.table-clickable-row tr{
    cursor: pointer;
} 